# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host: 127.0.0.1
    database_port: null
    database_name: school_hillel
    database_user: root
    database_password: q1w2e3r4
    mailer_transport: gmail
    mailer_user: igorphphillel@gmail.com
    mailer_password: 1mZasUinFYt7iPP2
    mailer_host: 127.0.0.1
    user_notifications_list:
        "Rinat Safin":
            "safinrinat87@gmail.com"
        "Julia Safina":
            "ulia8@icloud.com"
        "Html Testerok":
            "htmltesterok14@gmail.com"
    secret: c41f3c4a328165f8ae237801553e6777d9f80b9e
    image_upload_dir: "%kernel.root_dir%/../web/photos/"
    json_rpc_server_host: "http://127.0.0.1/api/jsonrpc"
    list_size_upload_images:
            mobile:
                width: 705
                height: 940
            main:
                width: 450
                height: 600
            thumb:
                width: 212
                height: 212
            basket:
                width: 50
                height: 50
    upload_image_type_list:
            -
                - jpeg
                - image/jpeg
            -
                - jpg
                - image/jpg
            -
                - gif
                - image/gif
            -
                - png
                - image/png
            -
                - webp
                - image/webp
            -
                - tiff
                - image/tiff
            -
                - jpx
                - application/octet-stream
            -
                - jb2
                - application/octet-stream
            -
                - bmp
                - image/bmp
            -
                - jp2
                - mage/jp2
            -
                - WBMP
                - image/vnd.wap.wbmp
            -
                - svg
                - image/svg+xml