{% extends "@MyShopAdmin/layout.html.twig" %}

{% block body %}
<form action="{{ path("myshop_admin_category_add", {"id_parent" : id_parent}) }}" method="POST">
    {{ form_widget(form) }}
    <input type="submit"/>
</form>
{% endblock %}