{% extends "@MyShopAdmin/layout.html.twig" %}

{% block body %}
<h3>Редактирование товара</h3>
<form method="post" action="{{ path('myshop_admin_product_edit', {id:product.id}) }}">
{{ form_widget(form) }}
    <input type="submit" />
</form>
{% endblock %}